{% extends "add_driver.html" %}
{% block content %}


<!-- The "container" class is used here for a responsive fixed-width container. -->
<div class="container">

   <!-- This header suggests the purpose of the form on this page, which is to add details of a junior driver. -->
   <h2 class="display-5">Add Junior Driver</h2>
 
   <!-- This "form" tag initiates a form element that on submission will send data to the URL mapped by the 'add_driver_junior' view function, via POST method. -->
   <form action="{{ url_for('add_driver_junior') }}" method="post">
 
     <!-- The 'row' and 'col' classes are part of Bootstrap’s grid system used to create page layouts through a series of rows and columns. They are being used here to align the form's input fields horizontally. -->
     <div class="row g-3">
         <!-- Input field for the driver's first name, with certain validations and restrictions applied. -->
         <div class="col">  
           <label class="form-label">Driver FirstName:</label>
           <input class="form-control" placeholder="eg: Wei" type="text" id="driver_firstname" name="driver_firstname" maxlength="25" pattern="[A-Za-z\s]+" required title="Firstname can only contain letters.">
         </div>
 
         <!-- Input field for the driver's surname, similar validations as the first name. -->
         <div class="col">
           <label class="form-label">Driver SurName:</label>
           <input class="form-control" placeholder="eg: Zhang" type="text" id="driver_surname" name="driver_surname" maxlength="25" pattern="[A-Za-z\s]+" required title="Surname can only contain letters.">
         </div>
     </div> <!-- End of first row -->
     <br>
     <!-- A new row in the form, it's used here to collect the numeric ID of the driver and the driver's birthdate. -->
     <div class="row g-3">
 
         <!-- Date input for the driver's birthdate, with defined min and max acceptable dates. -->
         <div class="col">
           <label class="form-label" for="birthdate">Driver Birthdate:</label>
           <input class="form-control" type="date" id="birthdate" name="birthdate" min="1998-01-01" max="2023-12-12">
         </div>
     </div> <!-- End of second row -->
     <br>
     <!-- The third row, designed for selecting the caregiver from a dropdown and choosing the car model. -->
     <div class="row g-3">
         <!-- Dropdown to select the caregiver. The options are populated dynamically. -->
         <div class="col">  
           <label class="form-label">Caregiver:</label>
           <select class="form-select form-select-lg mb-3" aria-label="Large select example" 
           id="caregiver" name="caregiver" required> 
             <option value="selected disabled hidden">Select Caregiver</option>
             <option value="none">No Need Caregiver if age over 16</option> 
             <!-- { Iterates through 'existing_caregiver' list, creating an option for each caregiver. } -->
             {% for caregivers in existing_caregiver %}
               <option>{{ caregivers }}</option>
             {% endfor %}
           </select>
         </div>
         <br>
         <!-- Dropdown to select the car model, with its options generated dynamically based on 'existing_cars'. -->
         <div class="col">
           <label class="form-label">Car Model:</label>
           <select class="form-select form-select-lg mb-3" aria-label="Large select example" 
             id="car_model" name="car_model" required>
             <option value="selected disabled hidden">Select Car Model</option>
             <!-- {# Loop through each available car model and generate the corresponding option element. #} -->
             {% for car in existing_cars %}
               <option>{{ car }}</option>
             {% endfor %}
           </select>
         </div>  
     </div> <!-- End of third row -->
     
     <!-- The submit button for the form, styled by Bootstrap classes. -->
     <div>
       <input type="submit" value="Add Driver" class="btn btn-primary mt-3"> 
      </div> 
       <!-- A conditional block that checks if a 'message' variable is passed to the template. If so, it displays it. This is typically used for flashing messages like form submission feedback. -->
       {% if message %}
       <div class="col mt-2">
        <div class="alert alert-info">
         {{ message }}
        </div>
      </div>  
 
       {% endif %}
   
     <br>
 
     <!-- This part creates a link styled as a button that redirects users to the page handled by the 'add_driver' view. It's useful for navigation purposes. -->
     <div>
       <a href="{{ url_for('add_driver') }}" class="btn btn-primary mb-3">Previous Page</a>    
     </div>
 </div> <!-- End of container div -->
 </form> <!-- End of the form structure -->
{% endblock %}